
   <div class="container">  
        <h1><%= link_to "ポケモン検索", "#"%></h1>
        <%= form_with url: "#", method: :get, local: true do |f| %>
          <%= f.text_field :search, autofocus: true , id: "number"%>
          <%= f.submit "検索", id: "pokemonGet" %>
        <% end %>
        <% @pokemon_all.each do |pokemon_all| %>
            <% unless pokemon_all.image_url == nil || pokemon_all.image_url.blank? %>
              <%= image_tag(pokemon_all.image_url, size: "170") %>
            <% else %>
              <%= image_tag("体育座りの男.png", size: "170") %>
            <% end %>
        <% end %>
    </div>