
    <% unless user_signed_in? %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% else %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
    <% end %>

    <div class="container">  
        <%= link_to "お気に入り", pokemons_favorite_path %>
        <h1>ポケモン検索</h1>
        <%= form_with url: pokemons_name_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, autofocus: true , id: "number", placeholder: "例）モクロー"%>
          <%= f.submit "検索", class: "pokemon__search" %>
        <% end %>
          <%= link_to pokemon_path(@pokemon.id) do %>
            <% unless @pokemon.image_url == nil || @pokemon.image_url.blank? %>
              <%= image_tag(@pokemon.image_url, size: "300") %>
            <% else %>
              <%= image_tag("体育座りの男.png", size: "300") %>
            <% end %>
          <% end %>
     </div>