
    <div class="pokemon__show">
      <div class="show__name">
        <%= "#{@pokemon.number}. "%>
        <%= @pokemon.name %>
      </div>
      <div id="showImage">
        <% unless @pokemon.image_url == nil || @pokemon.image_url.blank? %>
          <%= image_tag(@pokemon.image_url, size: "300") %>
        <% else %>
          <%= image_tag("体育座りの男.png", size: "300") %>
        <% end %>
      </div>
     
      <P id="type_one"><%="タイプ1: #{@pokemon.type_one}"%></p>
      <% if @pokemon.type_two != nil%>
        <p id="type_two"><%="タイプ2: #{@pokemon.type_two}"%></p>
      <% end %>

      <% unless (10 - current_user.favorites.count) <= 0%>    
        <% if current_user.already_favorited?(@pokemon) %>
          <%= link_to "投票を取り消す", pokemon_favorite_path(@pokemon), method: :delete %>
        <% else %>
          <%= link_to "投票する", pokemon_favorites_path(@pokemon), method: :post %>
        <% end %>
        <%= @pokemon.favorites.count %>
      <% end %>
      <p><%= "残り投票数は #{10 - current_user.favorites.count} 回です" %></p>

      <%= link_to "トップページに戻る", root_path %>
      <p><%= link_to "お気に入り", pokemons_favorite_path %></p>

    </div>
