
    <% unless user_signed_in? %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% else %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
    <% end %>

    <div class="container">  

        <%= link_to "お気に入り", favorite_pokemons_path %>
        <h1>なまえで検索</h1>
        <%= form_with url: name_pokemons_path, method: :get, local: true do |f| %>
          <%= f.text_field :name, autofocus: true , id: "number", placeholder: "例）モクロー"%>
          <%= f.submit "検索", class: "pokemon__search" %>
        <% end %>

        <%= form_with url: "#", method: :get, local: true do |f| %>
          <div>タイプで検索<br /></div>
          <%= f.collection_select(:type_id, Type.all, :id, :name, {}, class: "") %>
          <%= f.submit "検索" %>
        <% end %>

        <%=form_with model: @pokemon, url: typerank_pokemon_path(1), method: :get, local: true do |f|%>
          <div>並べ替え<br /></div>
          <%=f.select :keyword, [
                                ["--", "top"],
                                ["昇順", "up"],
                                ["降順", "down"],
                                ["ランダム", "random"],
                                ["人気が高い順", "likes"],
                                ["人気が低い順", "dislikes"]]%>
          <%=f.submit "検索"%>
        <% end %>

        <p><%="全 #{@pokemons.count} 匹"%></p>
        <% @pokemons.each do |pokemons| %>
            <%= link_to pokemon_path(pokemons.id) do %>
              <% unless pokemons.image_url == nil || pokemons.image_url.blank? %>
                <%= image_tag(pokemons.image_url, size: "170") %>
              <% else %>
                <%= image_tag("体育座りの男.png", size: "170") %>
              <% end %>
            <% end %>
        <% end %>
     </div>